<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/fodmap.png);">
  <div class="container">
    <h1>Mon régime FODMAP</h1>
    <p>Une application pour vous accompagner et vous aider à suivre les 3 étapes du régime</p>
    <a class="btn btn-flat" href="#">S'inscrire</a>
  </div>
</div>
