
<h1>Mon régime FODMAP</h1>
<h2>Une application pour vous accompagner et vous aider à suivre les 3 étapes du régime</h2>
<ul>
  <li>liste des aliments à privilégier et à éviter durant votre régime FODMAP</li>
  <li>suivez les aliments que vous testez</li>
  <li>suivez les aliments que vous réintroduisez</li>
</ul>

<div class="wrapper-home">
  <div>
    <p>Le régime FODMAP a été développé par Sue Shepard, nutritionniste australienne. Ce régime a pour but de soulager les symptômes du syndrome de l’intestin irritable (SII). L'alimentation FODMAP préconise des repas sans glucides «fermentescibles». Ces glucides sont en effet fermentés par les bactéries du côlon et provoquent des symptômes tels que des ballonnements, des gazs et des douleurs abdominales caractéristiques du syndrome de l’intestin irritable.</p>
  </div>

  <div>
    <p>Les points essentiels du régime FODMAP :</p>
    <ul>
      <li>Eviter les aliments riches en FODMAP</li>
      <li>Favoriser les aliments pauvres en FODMAP</li>
      <li>Réintégrer progressivement les aliments sources de FODMAP pour tester la tolérance digestive</li>
      <li>Conserver des apports nutritionnels adéquats</li>
      <li>Surveiller les symptômes en suivant un plan de réintroduction adapté</li>
    </ul>
  </div>

</div>

